body {
    background-color: RGB(47, 56, 72);
    font-family: 'Open Sans', sans-serif;
}

.container {
    color: white;
    width: 80%;
    max-width: 700px;
    margin: auto;
}

.header__title {
    text-align: center;
    background-color:  #f05768;
    padding: .75rem;
    border-bottom: #add8e6 4px solid;
    border-radius: 0 0 3px 3px;
    /* box-shadow: 0 .2rem #add8e6; */
    animation: heartCameleonize 5s infinite;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.header__navleft {
    display: flex;
    list-style: none;
    padding: 0;
    gap: .5rem;
}

.header__navleft a {
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
    /* margin-right: 1rem; */
    
    font-size: 1.2rem;
    transition: .4s;
    display: inline-block;
}

.header__navleft a:hover {
    color: #00ccff;
    transform: scale(1.1);
    
}

.header__navright {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.header__navright li {
    margin-left: 1rem;
    width: 1.2rem;
}

.header__heart {
    line-height: 0.8;
    font-size: 2rem;
    display: inline-block;
    transition: all .5s;
    animation: beat 1s infinite;
}

.header__heart:hover {
    transform: scale(1.7);
}

                    /* SECTION INTRODUCTION */

.introduction__title {
    color: #00ccff;
    font-style: italic;
}

.introduction__about{
    font-weight: bold;
    line-height: 1.2rem;
}

                    /* SECTION PICTURE OF THE WEEK */

figure {
    position: relative;
}

figcaption {
    background-color: #f05768;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

                    /* SECTION GALLERY */

.gallery {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start ;
}

.gallery__img {
    width: 70%;
    font-size: 0;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery__img img{
    display: inline-block;
    transition: all .5s;
    width: 100%;
}

.gallery__img img:hover {
    transform: rotate(5deg) scale(1.1);
}

.gallery__img img:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    /* On oblige l'image à sagrandir au dela de sa taille initiale */
    width: 100%;

}

.share {
    width: 30%;
    background-color: #004488;
    padding: 1rem;
}
.share__top {
    margin-bottom: 2rem;
}

.share__title {
    text-transform: uppercase;
    color: #00ccff;
    border-bottom: 1px solid #00ccff;
    padding-bottom: 1rem;
    margin-bottom: .75rem;
}

.share__ask{
    /* font-weight: bold; */
    color: white;
    margin-bottom: 0;
}

.share__link{
    color: yellowgreen;
    font-weight: bold;
}

footer {
    color: #00ccff;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {

    .gallery{
        display: block;
    }

    .gallery__img {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .share {
        width: 100%;
    }

     
}

/* On nomme le frames apr le nom qu'on veut */
@keyframes heartCameleonize {
    0% {
        color: yellowgreen;
    }

    15% {
        color: #00ccff;
    }

    30% {
        color: #004488;
    }

    60% {
        color: #00ccff;
    }

    80%{
        color: #add8e6;
    }

    100% {
        color: yellowgreen;
    }
}

@keyframes beat {
    0%, 16%, 50% {
        transform: scale(1);
    }

    8%, 32%{
        transform: scale(1.2);
    }
    
}